//black
$color-black-1: #131313;
$color-black-2: rgba(#131313, 0.3);
$color-black-3: rgba(#131313, 0.1);
//gray
$color-gray-1: #505050;
$color-gray-2: #f2f2f2;
//white
$color-white-1: white;
$color-white-2: rgba(255, 255, 255, 0.3);
//primary
$color-primary-1: #dfad77;
$color-primary-1-opacity: rgba(#dfad77, 0.1);
$color-primary-0: #d68f4c;
$color-primary-2: #dbbb76;
$color-primary-3: #f2eee6;
$color-primary-4: #f0ede8;
//
$font-bold: 700;
$font-normal: 400;
//
$border-rounded: 40px;
//
$box-shadow-1: 0px 4px 32px -8px rgba(172, 172, 172, 0.2);
